<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <servlet>
    <servlet-name>BotServlet</servlet-name>
    <servlet-class>kellegous.server.BotServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BotServlet</servlet-name>
    <url-pattern>/bot</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>RpcServlet</servlet-name>
    <servlet-class>kellegous.server.RpcServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RpcServlet</servlet-name>
    <url-pattern>/rpc/*</url-pattern>
  </servlet-mapping>


  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
