.header {
  background-image: url("perfboard/v.png"), url("perfboard/bg.png");
  background-repeat: repeat-x, repeat;
  background-position: 0% 0%, 0% 0%;
  height: 100px;
  width: 1024px;
  border-bottom: 4px solid #ddd;
}

.title {
  width: 204px;
  float: left;
  padding: 0 10px;
}

.revision {
  font-size: 36pt;
}

.author {
  font-size: 18pt;
}

.message {
  padding: 10px 0 0 10px;
  float:left;
  width: 600px;
  border-left: 1px solid #000;
  height: 90px;
}