@def width 800px;
@def height 40px;

.graph {
  width: 1024px;
  position: relative;
  height: 40px;
  margin: 10px 0;
  border-bottom: 1px solid #ccc;
}

.info {
  position: absolute;
  left: 0;
  bottom: 0;
  padding-left: 10px;
}

.canvas {
  position: absolute;
  top: 0;
  left: 224px;
}

.label {
  display: inline-block;
  width: 160px;
}

.change {
 font-size: 80%;
}

.changeMeh {
  color: #999;
}

.changeYay {
  color: #090;
}

.changeBoo {
  color: #900;
}